loki:
  commonConfig:
    replication_factor: 1

singleBinary:
  replicas: 1
  persistence:
    enabled: true
    size: 50Gi
    {% if storage_class_name %}
    storageClass: "{{ storage_class_name }}"
    {% endif %}
